<!--section 3-->
      <!-- Education-->
      <section class="resume-section" id="education">
        <div class="conteEstudios container-fluid rounded shadow-sm p-3 mb-5">
           <div class="resume-section-content">
              <h2 class="mb-5">Educación</h2>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                 <div class="flex-grow-1">
                    <h3 class="mb-0">Universidad Tecnológica Nacional</h3>
                    <div class="subheading mb-3">Bachelor Hygiene and industrial security</div>
                    <div>Hygiene and industrial security - Web Development Track</div>
                    <div>
                     <h3>Titulo</h3>
                     <img src="assets/img/diploma.jpg" width="350">
                     <div class="flex-shrink-0"><span class="text-secundary">febrery 2013 - december 2015</span></div>
                    </div>
                    <div>
                       <div class="row"></div>
                       <br>
                       <h3>Otros Estudios</h3>
                       <figure>
                          <img src="assets/img/certificado.jpg" width="350"> 
                       </figure>
                       <div class="flex-shrink-0"><span class="text-secundary">febrery 2021 - october 2021</span></div>
                    </div>
                 </div>
                 <br>
                 <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                       <h3>Otros Estudios</h3>
                       <br> 
                       <h3>"Argentina Programa"</h3>
                       <div class="subheading mb-3">Technology Developer Program</div>
                       <div class="flex-shrink-0"><span class="text-secundary">noviembre 2021 - Present</span></div>
                       <img src="assets/img/MINIATURA-ARGEPROGR.jpg" width="350">      
                       <p>Argentina Programa #YoProgramo 3ra edición</p>
                       <br>
                       <h3>Otros Estudios</h3>
                       <figure>
                          <img src="assets/img/python.jpg" width="350"> 
                       </figure>
                       <h3 class="mb-0">Fundación Educativa Santisima Trinidad </h3>
                       <p > curso LENGUAJE DE PROGRAMACIÓN PYTHON.</p>
                       <div class="flex-shrink-0"><span class="text-secundary">febrery 2022 - mayo 2022</span></div>
                    </div>
                 </div>
               </div>
            </div>
            <a class="btn btn-primary" href="/index.html" role="button">Volver</a>
          </div>
     </section>
