<section id="cursos">
    <div class="conteTextoTer container-fluid rounded shadow-sm p-3 mb-5">
    <div class="resume-section-content">
    <h2 class="mb-5">CursosRealizados</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
       <div class="flex-grow-1">
          <div id="textoTer">
          
                <h1>Estos son los Cursos Realizados:</h1>
          
             <p>Python: <meter min="0" max="100" value="70"></meter></p>
             <p>HTML:5>: <meter min="0" max="100" value="100"></meter></p>
             <p>STYLESHEET.CSS: <meter min="0" max="100" value="80"></meter></p>
             <p>Manejo extintores: <meter min="0" max="100" value="100"></meter></p>
             <p>Carga de Datos (Data Entry): <meter min="0" max="100" value="100"></meter></p>
          </div>
         </div>
       </div>
     </div>
     <a class="button" href="#arriba">Volver a arriba</a>
   </div>
 </section>
 

