 <!-- Proyectos-->
 <section class="resume-section" id="proyects">
    <div class="conteProyectos container-fluid rounded shadow-sm p-3 mb-5">
      <div class="resume-section-content">
        <h2 class="mb-5">Proyectos</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              ARMADO DE PROGRAMAS DE CAPACITACIONES de Higiene y Seguridad en el trabajo en: Programa Empleo Joven y colegios de niveles secundarios y terciarios
              <img src="assets/img/Seguridad-higiene-trabajo.jpg" width="350">
            </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>
              PROGRAMAS DE CONTROL DE SEGURIDAD EN EMPRESAS
              <img src="assets/img/sistema de gestion de seguridad.jpg" width="350">
            </li> 
            <li><span class="fa-li"><i class="fas fa-check"></i></span>
              PROGRAMAS DE CONTROL DE ACCIDENTES Y ENFERMEDADES PROFESIONALES
              <img src="assets/img/accidentes y enfermedades.jpg" width="350">
            </li>
          </div>
          </div>
        </div>
        </div>
    </section>
     <!-- FIN DE PROYECTOS-->
     