<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/images.png" alt="" width="30%" height="40%">
      </a>
      <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><i class="fa-brands fa-instagram fa-xl"></i></li>
      <li class="list-group-item"><i class="fa-brands fa-facebook fa-xl"></i></li>
      <li class="list-group-item"><i class="fa-brands fa-linkedin fa-xl"></i></li>
      <li class="list-group-item"><i class="fa-brands fa-github fa-xl"></i></li>
<!-- Button trigger modal -->
      <li class="list-group-item">
        <i class="fa-solid fa-user-lock fa-xl "type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        </i>
      </li>
      </ul>
      </div>
      </nav>
