/*redes*/    
i.fa-brands.fa-facebook.fa-xl,
i.fa-brands.fa-instagram.fa-xl,
i.fa-brands.fa-linkedin.fa-xl,
i.fa-brands.fa-github.fa-xl,
i.fa-solid.fa-user.fa-xl
{
    color: #fff
}

i.fa-brands.fa-facebook.fa-xl:hover{
    color:blue
}

i.fa-brands.fa-instagram.fa-xl:hover{
    color:darksalmon
}

i.fa-brands.fa-linkedin.fa-xl:hover{
    color:rgb(122, 198, 233)
}

i.fa-brands.fa-github.fa-xl:hover{
    color:gray
}

i.fa-solid.fa-user.fa-xl:hover{
    color:#111
}

.list-group{
    --bs-list-group-bg: transparent;
}