<body>
    <header>
      <!--Barra de nav-->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="Assets/img/images.png" alt="" width="30%" height="40%">
          </a>
          <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
          <li class="list-group-item"><a href="https://www.linkedin.com/in/miguel-trubiano-83093229/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
          <li class="list-group-item"><a href="https://www.github.com/" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
          <li class="list-group-item"><a href="https://login.live.com//" target="_blank"><i class="fa-brands fa-envelope fa-xl"></i></a></li>
          <li class="list-group-item">
          <!-- Button trigger modal -->
          <!-- Boton que abre el login -->
            <i data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-user-lock fa-xl">
            </i>
          </li>
          </ul>
          </div>
          </nav>
          <!-- FIN DE NAVEGACION-->
    </header>
 
 <main>
 
 <section id="panel" class="panel">
     <div class="container text-center">
        <div class="row g-2 g-lg-3">
             <div class="col">
                 <div><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#redesModal"><i
             class="fa-solid fa-thumbs-up fa-xl">
             </i></button></div>
             </div>
             <div class="col">
                 <div><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#bannerModal"><i
             class="fa-solid fa-image fa-xl">
             </i></button></div>
             </div>
             <div class="col">
                 <div><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#perfilModal"><i
             class="fa-solid fa-user fa-xl">
             </i></button></div>
             </div>
         </div>
         <div class="row mt-2 g-2 g-lg-3">
             <div class="col">
                 <div ><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#educacionModal"><i
             class="fa-solid fa-graduation-cap fa-xl">
             </i></button></div>
                 </div>
             <div class="col">
                 <div ><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#infoModal"><i
             class="fa-solid fa-circle-info fa-xl">
             </i></button></div>
                 </div>
             <div class="col">
                 <div><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal"
                     data-bs-target="#trabajoModal"><i class="fa-solid fa-briefcase fa-xl">
             </i></button></div>
             </div>
             </div>
         <div class="row mt-2 g-2 g-lg-3">
             <div class="col">
                 <div ><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#proyectosModal"><i
             class="fa-brands fa-angular fa-xl">
             </i></button></div>
             </div>
             <div class="col">
                 <div ><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#skillsModal"><i
             class="fa-solid fa-dumbbell fa-xl">
             </i></button></div>
             </div>
             <div class="col">
                 <div><button type="button" class="btn btn-primary btn-lg p-5" data-bs-toggle="modal"
                     data-bs-target="#proyectosModal"><i class="fa-solid fa-folder fa-xl">
                     </i></button></div>
             </div>
             </div>
     </div>
 </section>
 <!-- Modal perfil-->
 <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Perfil</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Foto de perfil</label>
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="file">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Nombre y Apellido</label>
                     
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Acerca de mí</label>
                     <div class="col-sm-10">
                        <textarea class="form-control form-control-sm" id="formFileSm" type="text">
                            </textarea>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Guardar</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal banner-->
 <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Banner</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Imagen de banner</label>
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="file">
                     </div>
                 </div>
                 
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Guardar</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal educacion-->
 <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Educación</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Logo institución</label>
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="file">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Nombre Institución </label>
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Período</label>
                 
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Título o certificación otorgada </label>
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Guardar</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal skills-->
 <div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">skills</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control-plaintext" id="staticEmail" value="email@dominio.com">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña: </label>
                     <div class="col-sm-10">
                         <input type="password" class="form-control" id="inputPassword">
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Iniciar sesión</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal redes sociales-->
 <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Redes sociales</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control-plaintext" id="staticEmail" value="email@dominio.com">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña: </label>
                     <div class="col-sm-10">
                         <input type="password" class="form-control" id="inputPassword">
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Iniciar sesión</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal plus-->
 <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Info</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="staticEmail" class="col-sm-2 col-form-label">Email: </label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control-plaintext" id="staticEmail" value="email@dominio.com">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña: </label>
                     <div class="col-sm-10">
                         <input type="password" class="form-control" id="inputPassword">
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Iniciar sesión</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal trabajo-->
 <div class="modal fade" id="trabajoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Trabajo</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Logo empresa</label>
                    
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="file">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Título del puesto </label>
                     <div class="col-sm-10">
                     <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Período</label>
                     
                     <div class="col-sm-10">
                     <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Descripción del puesto</label>
                     <div class="col-sm-12">
                     <textarea class="form-control form-control-sm" id="formFileSm" type="text">
                         </textarea>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary">Guardar</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal proyectos-->
 <div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModal">Proyectos</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Logo proyecto</label>
 
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="file">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Título del proyecto </label>
                     <div class="col-sm-10">
                         <input class="form-control form-control-sm" id="formFileSm" type="text">
                     </div>
                 </div>
                 <div class="mb-3 row">
                     <label for="formFileSm" class="form-label">Descripción del proyecto</label>
                     <div class="col-sm-12">
                         <textarea class="form-control form-control-sm" id="formFileSm" type="text">
                         </textarea>
                     </div>
                 </div>
             </div>
             
 
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary">Guardar</button>
             </div>
         </div>
     </div>
 </div>
 
 </main>
 
 <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
     crossorigin="anonymous"></script>
 
 </body>
   
   
   
   
   



